@import url(https://fonts.googleapis.com/css?family=Open+Sans);


* {
  box-sizing: border-box;
}
p{
	margin: 0!important;
	padding: 0!important;
}
ul{
	margin: 0!important;
	padding: 0!important;
}
img{
	width: 100%!important;
}

/*GALLERY---------------------*/
	.gallery {
		display: flex;
		padding: 2px;
		transition: .3s;
	}
	.gallery:hover .gallery__image {
			filter: grayscale(1);
		}
	.gallery__column {
			display: flex;
			flex-direction: column;
			width: 25%;
	}
	.gallery__link {
			margin: 2px;
			overflow: hidden;	
	}
	.gallery__link:hover .gallery__image{	
		filter: grayscale(0);
	}
	.gallery__link:hover .gallery__caption{	
		opacity: 1;
	}
	.gallery__thumb {
		position: relative;
	}
	.gallery__image {
		display: block;
		width: 100%;
		transition: .3s;	
	}
	.gallery__image:hover {
		transform: scale(1.1);
	}
	.gallery__caption {
		position: absolute;
		text-align: center;
		top: 50%;
		padding: auto;
		width: 100%;
		font-family: 'Raleway', sans-serif;
		font-size: 3em;
		font-weight: bolder;
		color: whitesmoke;
		opacity: 0;
		transition: .3s;
		text-shadow: 5px 5px  black;
	}

	
		
	 
	}
/*GALLERY---------------------*/


html {
    scroll-behavior: smooth;
}
.reklam{
	background-color: #EEEEEE;
	border: 1px dashed blue;
	text-align: center;
	font-size: 2rem;
	font-weight: bold;
}

.logo{
		width: 20%;
}
#logo{
	color: black;
	text-decoration: none;
}


/*HR*/
	.hrs{
		display: flex;
		margin: 0 ;
	}
	hr{
		width: 20%;
		padding: 5px;
		margin: 0;
		border-width:0;

		
	}
	#purple{
		background-color:#7723DB;
	}
	#cyan{
		background-color:cyan;
	}
	#orangered{
		background-color:orangered;
	}
	#orange{
		background-color:orange;
	}
	#darkpurple{
		background-color:#6B1E5B;
	}
	#limegreen{
		background-color:limegreen;
	}
/*HR*/
/*NAVBAR---------------------------*/
	.Konum{
		padding: 1rem;
		/*border: 1px solid #FF6000;*/
		color: #FF6000;
		font-size: 1rem;
		text-align: center;

	}
	.Konum:focus {
		background-color: #F5F5F5;
		-webkit-transition: ease-out 1s;
	    -moz-transition:  ease-out 1s;
	    -o-transition:  ease-out 1s;
	    transition:  ease-out 1s;
	}
	.Logindiv{
		border: 3px solid #919191;
		border-radius: 10px;
		margin-top: 0.5rem;
	}
	.Login{
		padding:0.3rem 0 0.3rem 0.5rem ;
		/*border: 1px solid #FF6000;*/
		color: #FF6000;
		font-size: 1rem;
		align-items: center;
		text-align: center;
		margin:0 0.5rem 0 0;
	}

	.smalltext{
		padding: 0;
		margin: 0;
		font-size: 0.7rem;
		text-align: center;
	}
	.cart{
		padding: 1rem;
		align-items: center;
		color: white;
		background-color:#919191;
		margin: 0;
	}
	
	
	.menuli{
		/*border: 1px solid blueviolet;*/
		padding: 1rem 0.5rem;
		font-weight: 900;
		font-size: 0.7rem;
		cursor: context-menu;
		color: #646464;
		z-index: 50;
	}
	


	.bordermenu{
		background: #E5E5E5;
		width: 3px;
		border-radius:5px;
		margin: 10px 3px ;
	}
	.menuli:hover{
		color: #FF6000;
		background-color: #FFF;

	}
	.menuli:hover .dp-content{
	    display: block;

	}
	.dp-content {
	    display: none;
	    position: absolute;
	    z-index: 1;
	    background-color: #FFF;
		border-bottom-right-radius: 10px;
		border-bottom-left-radius: 10px;
		padding: 1rem;
		margin: 1.5rem 0 0 -0.2rem;
	}


	/*---------------SEARCH----------*/



		/*Resize the wrap to see the search bar change!*/
		.mainmenu {
			display: flex;
			justify-content: space-evenly;
		}
		.wrap{
		  width: 30%;
		 
		}

		.search {
		  width: 100%;
		  position: relative;
		  display: flex;
		  margin: 1rem;
		}

		.searchTerm {
		  width: 100%;
		  border: 3px solid #919191;
		  border-right: none;
		  height: auto;
		  border-radius: 5px 0 0 5px;
		  outline: none;
		  color: #9DBFAF;
		}

		.searchTerm:focus{
		  border:3px solid #FF6000;
		}


		.searchButton {
		  width: 40px;
		  height: 36px;
		  border: 1px solid #919191;
		  background: #919191;
		  text-align: center;
		  color: #fff;
		  border-radius: 0 5px 5px 0;
		  cursor: pointer;
		  font-size: 20px;
		  outline: none;
		}

		
	/*---------------SEARCH----------*/


/*NAVBAR---------------------------*/

/*--------------SLIDERBUTON*/
	.sliderbtnDiv{
		/*border: 1px solid black;*/
		display: flex;
		justify-content: space-evenly;
		margin-bottom: 2rem!important;
	}
	.sliderbtn{
		padding: 0.5rem 1rem 0.5rem 1rem;
		background-color: transparent;
		border-radius: 50px;
		border: none;
		font-size: 1rem;
		font-weight: bold;
		text-align: center;
		color: #484848;
		box-shadow:1px 5px 10px #333;
	}
	.sliderbtn:focus{
		background-color: #fff;
		outline: none;

	}
	
	.sliderbtn:focus .arrow-down {
	  width: 0; 
	  height: 0; 
	  border-left: 5px solid transparent;
	  border-right: 5px solid transparent;
	  border-top: 5px solid #fff;
	  position: relative;
	  top: 50%;
	  left: 40%;
	}
/*---------SLIDERMAIN------------*/
	.background{
			padding: 2rem;
			background: linear-gradient(0deg, #FDB417, #FDE959, #FEF5BB);
			box-shadow: inset 0px 20px 50px 0px rgba(0, 0, 0, 0.5);
		}
	.slidercontainer{
		border-radius: 15px;
		width: 100%;
		height: auto;
		background-color: #fff;
		padding: 0.4rem;
	}


	.slidercontent{
	width: 50%;
	padding: 4em;
	/*border: 1px solid red;*/
	}
	
	#slidercontenttop{
		font-size: 1.5rem;
	 	font-family: 'Lato', sans-serif;
	  font-weight: 200; 
	  line-height:1.33;
	  letter-spacing: .33px;
		color: #484848;
		margin-top: 0.5rem;
	}
	#slidercontentdown{
		font-size: 2rem;
		font-weight: 600;
		letter-spacing: .34px;
		color: #484848;
		margin: 1rem 0 1rem 0!important;
	}
	#slidercontentbuton{
		border-radius: 20px;
		padding: 0.5rem 1rem 0.5rem 1rem;
		color: #fff;
		background-color: #E3000B;
		font-weight: bold;
		border: none;
	}
		
	
	.sliderimg{
	border-radius: 15px;
	width: 100%;
	}


/*---------SLIDERMAIN------------*/
	.picture{
	  border-radius: 10px;	
	  width: 100%;
	  /*min-width: 30px;*/
	}

	.dotDiv{
		margin: 2rem 0 0 0!important;
		display:flex;
		padding: 0;
		justify-content: space-between;
		width: 100%;
		/*border: 1px solid red;*/
	}
	.dot {
	  cursor: pointer;
	  margin: 0 0.4rem 0 0;
	  transition: background-color 0.6s ease;
	}

	/*.active, .dot:hover {
	  background-color: #717171;
	}*/

	/* Next & previous buttons */
	.prev, .next {
	  cursor: pointer;
	  /*position: relative;*/
	 	width: auto;
		color: white;
	  font-weight: bold;
	  font-size: 1.5rem;
	  transition: 0.6s ease;
	  border-radius: 0 3px 3px 0;
	  user-select: none;
	}

	.prev{
	  border-radius: 3px 0 0 3px;

	}

	/* Position the "next button" to the right */
	.next {
	  border-radius: 3px 0 0 3px;
	}


	/* On hover, add a black background color with a little bit see-through */
	.prev:hover, .next:hover {
	  background-color: #272133;
	}
	

/*---------NAVBAR-TOGGLEDOWN*/
	.nav {
	  height: 50px;
	  width: 100%;
		background-color: #F5F5F5;
	  position: relative;
	  justify-content: center;	  
	}
	.nav > .nav-links{
		display: flex;

	}
	.nav > .nav-btn {
	  display: none;
	  background-color:#333 ;
	}
	.nav > .nav-links > a {
	  display: inline-block;
	  padding: 13px 10px 13px 10px;
	  text-decoration: none;
	  color: #efefef;
	}
	
	.nav > .nav-links > a:hover {
	  background-color: rgba(0, 0, 0, 0.3);
	}

	.nav > #nav-check {
	  display: none;
	}
	label{
		margin: 0!important;
	}

	

/*OWL-CAROUSEL MAIN SLIDER*/
	.maınbanner{
		margin: 1rem 0 1rem 0;
	}
	.hoversepetdiv{
		padding: 1rem;
		background-color: #FFF2EB;
		border-radius: 10px;
		color: #FF6000;
		text-align: center;
		display: none;
	}
	.hoversepetdiv a:hover,
	.hoversepetdiv a{
		color: #FF6000;
		text-decoration: none;
		text-align: center;
		font-weight: bold;
	}
	.pricedivparent{
		display: block;

	}
	.itemDiv:hover .hoversepetdiv{
		display: block;
	}
	.itemDiv:hover .pricedivparent{
		display: none;
	}
	.itemDiv:hover {
		box-shadow: 1px 1px 10px #3333;
	}

	#maınbanner{
		font-size: 2.2rem;
		font-weight: 600;
		color: #484848;
		letter-spacing: 1px;
	}
	.itemDiv{
		border-radius: 10px;
		padding: 1rem;	
		min-height: 300px;
		
	}
	.itemDiv:not(.bannerdiv){
		border: 1px solid #E5E5E5;
	}

	.item{
		margin: 1rem;
	}
	.itemimg{
			border-radius: 10px;
	}
	/*Typography-*---------------*/
	.description{
		font-size:.7rem;		
	}
	.price{
		font-size:1.2rem;
		color: #FF6000;
		font-weight: bold;
	}

	.oldprice{
		text-decoration: line-through;
		color: #9B9B9B;
		font-size: .9rem;
	}
	/*PREV NEXT BUTTONS*/
		.owl-nav .owl-next i{
			font-size: 1rem;		
			margin: 1rem!important;
		}
		.owl-nav .owl-next{
			position: absolute;
			top: 40%;
			right: -10px;
			padding: 1rem!important;
			background-color: whitesmoke!important;
			border-radius: 100px!important;
			box-shadow: 0 1px 10px #333;
		}
		.owl-nav .owl-prev i{
			font-size: 1rem;		
			margin: 1rem!important;
		}
		.owl-nav .owl-prev{
			position: absolute;
			top: 40%;
			left: 0;
			padding: 1rem!important;
			background-color: whitesmoke!important;
			border-radius: 100px!important;
			box-shadow: 0 1px 10px #333;
		}

/*OWL-CAROUSEL MAIN SLIDER*/

/*------FOOTER----------*/
	.site-footer
	{
	  background-color:#26272b;
	  padding:45px 0 20px;
	  font-size:15px;
	  line-height:24px;
	  color:#737373;
	}
	.site-footer hr
	{
	  border-top-color:#bbb;
	  opacity:0.5
	}
	.site-footer hr.small
	{
	  margin:20px 0
	}
	.site-footer h6
	{
	  color:#fff;
	  font-size:16px;
	  text-transform:uppercase;
	  margin-top:5px;
	  letter-spacing:2px
	}
	.site-footer a
	{
	  color:#737373;
	}
	.site-footer a:hover
	{
	  color:#3366cc;
	  text-decoration:none;
	}
	.footer-links
	{
	  padding-left:0;
	  list-style:none
	}
	.footer-links li
	{
	  display:block
	}
	.footer-links a
	{
	  color:#737373
	}
	.footer-links a:active,.footer-links a:focus,.footer-links a:hover
	{
	  color:#3366cc;
	  text-decoration:none;
	}
	.footer-links.inline li
	{
	  display:inline-block
	}
	.site-footer .social-icons
	{
	  text-align:right
	}
	.site-footer .social-icons a
	{
	  width:40px;
	  height:40px;
	  line-height:40px;
	  margin-left:6px;
	  margin-right:0;
	  border-radius:100%;
	  background-color:#33353d
	}
	.copyright-text
	{
	  margin:0
	}
	@media (max-width:991px)
	{
	  .site-footer [class^=col-]
	  {
	    margin-bottom:30px
	  }
	}
	@media (max-width:767px)
	{
	  .site-footer
	  {
	    padding-bottom:0
	  }
	  .site-footer .copyright-text,.site-footer .social-icons
	  {
	    text-align:center
	  }
	}
	.social-icons
	{
	  padding-left:0;
	  margin-bottom:0;
	  list-style:none
	}
	.social-icons li
	{
	  display:inline-block;
	  margin-bottom:4px
	}
	.social-icons li.title
	{
	  margin-right:15px;
	  text-transform:uppercase;
	  color:#96a2b2;
	  font-weight:700;
	  font-size:13px
	}
	.social-icons a{
	  background-color:#eceeef;
	  color:#818a91;
	  font-size:16px;
	  display:inline-block;
	  line-height:44px;
	  width:44px;
	  height:44px;
	  text-align:center;
	  margin-right:8px;
	  border-radius:100%;
	  -webkit-transition:all .2s linear;
	  -o-transition:all .2s linear;
	  transition:all .2s linear
	}
	.social-icons a:active,.social-icons a:focus,.social-icons a:hover
	{
	  color:#fff;
	  background-color:#29aafe
	}
	.social-icons.size-sm a
	{
	  line-height:34px;
	  height:34px;
	  width:34px;
	  font-size:14px
	}
	.social-icons a.facebook:hover
	{
	  background-color:#3b5998
	}
	.social-icons a.twitter:hover
	{
	  background-color:#00aced
	}
	.social-icons a.linkedin:hover
	{
	  background-color:#007bb6
	}
	.social-icons a.dribbble:hover
	{
	  background-color:#ea4c89
	}
	@media (max-width:767px)
	{
	  .social-icons li.title
	  {
	    display:block;
	    margin-right:0;
	    font-weight:600
	  }
	}
/*------FOOTER----------*/

